@font-face {
    font-family: 'MiFuente';
    src: url('../static/AveriaSerifLibre-Regular.ttf') format('truetype');
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin-top: 80px;
    margin-bottom: 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    background-color: #c0febf;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    box-sizing: border-box;
}

.header-title {
    font-family: 'MiFuente', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-right: 100px;
}

.button1-wrapper {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.button1-wrapper img[alt="Botón 1"] {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transform: scaleX(-1);
    margin-right: 10px;
}

.button1-wrapper span {
    font-family: 'MiFuente', sans-serif;
    font-size: 30px;
    color: black; 
}

.header img[alt="Botón 2"] {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.table-container {
    margin-top: 20px; /* Agrega un margen superior para dejar espacio entre el encabezado y la tabla */
}

/* Estilos para el formulario de búsqueda */
.search-container {
    text-align: center;
    margin-top: 20px;
}

/* Estilos para los filtros */
input[type="text"],
select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

/* Estilos específicos para el botón con id "reservarBtn" */
#reservarBtn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    transition: background-color 0.3s ease; /* Agregar una transición suave al cambio de color de fondo */
}

#reservarBtn:enabled {
    background-color: #4CAF50; /* Verde */
    color: white;
}

#reservarBtn:disabled {
    background-color: rgb(211, 203, 203); /* Rojo */
    color: hsl(0, 0%, 8%); /* Texto gris para indicar deshabilitado */
    cursor: default; /* Cambiar el cursor a predeterminado */
}

/* Estilos para la tabla de implementos */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

/* Estilos para filas alternas de la tabla */
tr:nth-child(even) {
    background-color: #f9f9f9; /* Color de fondo para filas pares */
}

tr:nth-child(odd) {
    background-color: #e6e6e6; /* Color de fondo para filas impares */
}
/* Estilos para el footer */
.footer {
    display: flex;
    padding: 20px;
    background-color: #c0febf;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    /*height: 12%; */
    height: 120px;
    align-items: center;
    justify-content: flex-end;
    position: fixed; /* Cambia a posición fija */
    box-sizing: border-box;
}

.textfooter {
    font-family: 'MiFuente', sans-serif;
    font-weight: bold;
    display: flex;
    position: relative;
    flex-direction: column;
    right: 50px;
    text-align: end;
}

.textfooter p {
    margin: 3px 0; /* Reducir el margen entre párrafos */
    font-size: 14px; /* Reducir el tamaño de la fuente si es necesario */
}

.lineafooter {
    position: relative;
    border-left: 1px solid black;
    height: 100px;
    margin-left: 10px;
    right: 50px;
}


/* Estilos para el mensaje de no resultados */
.no-results-message {
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
/* Menu Cerrar sesión*/
#btn-menu{
    display: none;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.container-menu{
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
.cont-menu{
    visibility: hidden;
    width: 100%;
    height: 230px;
    position: absolute;
    right: 0;
    max-width: 250px;
    background-color: #c0febf;
    transition: all 500ms ease;
    transform: translateY(-100%);
    
}
/*Animación despliegue hacía abajo*/
#btn-menu:checked ~ .container-menu .cont-menu{
    visibility: visible;
    transform: translateX(0%);    
}
.container-menu nav{    
    position: relative;
    top: 110px
}
.container-menu nav a{    
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-left: 10px;    
    color: black;  
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.container-menu nav a:hover{    
    border-left: 5px solid black;
    background: rgba(0, 0, 0, 0.192);    
}
.imgCerrarSesion{
    width: 40px;
    height: 40px;
    padding-right: 10px;    
}
.imgCambiarRol{
    width: 40px;
    height: 40px;
    padding-right: 10px; 

}
.disabled-link {
    color: #ccc; /* Cambia el color del texto a gris */
    pointer-events: none; /* Evita que se puedan hacer clic en el enlace */
    cursor: not-allowed; /* Cambia el cursor a "no permitido" */
    text-decoration: none; /* Quita cualquier decoración de texto */
    opacity: 0.5;
}