<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Solicitar préstamo</title>
        <link rel="stylesheet" href="../static/DevolucionImplementos.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>
    <body>
        <div class="header">
            <button class="button-wrapper" onclick="window.location.href = '/zenUN/usuarios/templates/MainPageStudent.html';">
                <img src="../static/icono.png" alt="Botón 1">
                <span>zenUN</span>
            </button>
            <div class="header-title"> </div> 
            <img src="../static/perfil.png" alt="Botón 2">
        </div>
        <div class="container-content">
            <h1>Devolucion implementos</h1>
            <hr class="linea">
            <!-- iconoJuego -->
            <div id="iconGame">
                <img src="../static/iconoJuego.png">
            </div>
            <p> Nº identifiacion estudiante</p>
            <!-- Contenerdor de la identifiacion -->
            <form>
                <div id="contenedorIdentificacionEst"> 
                    <input type="number" id="documentNumber" name="documentNumber" required>
                    <button type="submit"> </button>
                </div>
            </form>
        
            <button type="submit" id="devolver"> devolver </button>
            <!-- Contenerdor de la devolucion -->
            <div id="contenedorDevolucion">
                <div class="contenedorDevolucion_elementos">  
                    <p>implemento prestado: </p>
                </div>
                <div class="contenedorDevolucion_elementos">  
                    <p>Facultad donde se presto: </p>
                </div>
                <div class="contenedorDevolucion_elementos">  
                    <p>Nombre del estudiante:  </p>
                </div>
                <div class="contenedorDevolucion_elementos">  
                    <p>Correo estudiante:  </p>
                </div>
                <div class="contenedorDevolucion_elementos">  
                    <p>Hora inicio reserva:  </p>
                </div>
                <div class="contenedorDevolucion_elementos">  
                    <p>Hora inicio reserva:  </p>
                </div>
                <div class="contenedorDevolucion_elementos">  
                    <p>Comentarios:  </p>
                </div>
            </div>

        </div>
    </body>
</html>