{% load static %} 
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disponibilidad Implementos</title>
    <link rel="stylesheet" href="{% static 'estilosDispImplementos.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if mensaje %}
    <script>     
        Swal.fire({
        position: "top",
        title: "Aviso Zenun",
        text: 'No puedes reservar más implementos si tienes un préstamo activo',
        icon: 'warning',
        confirmButtonText: 'Aceptar'
        });
    </script>
{% endif %}


<!-- Banner con el título -->
<div class="header">
    <button class="button1-wrapper" onclick="window.location.href = '/paginaPrincipalEstudiante/';">
        <img src="{% static 'icono.png' %}" alt="Botón 1">
        <span>zenUN</span>
    </button>
    <div class="header-title">Disponibilidad Implementos</div>
    <img src="{% static 'perfil.png' %}" alt="Botón 2">
</div>
<br>
<!-- Formulario de búsqueda y filtro -->
<div class="search-container">
    <input type="text" id="searchInput" placeholder="Buscar por nombre...">
    <label for="edificio">Filtrar por edificio:</label>
    <select id="edificio">
        <option value="">Todos los edificios</option>
        {% for edificio in edificios %}
        <option value="{{ edificio.nombreEdificio }}">{{ edificio.nombreEdificio }}</option>
        {% endfor %}
    </select>
</div>
<div class="table-container"></div>
<!-- Tabla de implementos -->
<table id="tabla-implementos">
    <tr>
        <th>Nombre</th>
        <th>Código</th>
        <th>Edificio</th>
        <th>Disponibilidad</th>
        <th>Hora de Reserva</th>
        <th>Hora de Devolución</th>
        <th>Reservar</th>
    </tr>
    <!-- Iterar sobre los implementos y mostrarlos en la tabla -->
    {% for implemento in implementos %}
    <tr>
        <td>{{ implemento.nombreImplemento }}</td>
        <td>{{ implemento.idImplemento }}</td>
        <td>{{ implemento.edificioId.nombreEdificio }}</td>
        <td>{{ implemento.estadoImplementoId.nombreEstadoImplemento }}</td>
        {% if implemento.estadoImplementoId.nombreEstadoImplemento == 'DISPONIBLE' or implemento_obj.estadoImplementoId.nombreEstadoImplemento == 'NO DISPONIBLE' %}
            <td></td>
            <td></td>
        {% else %}
            <td>{{ implemento.ultima_fecha_inicio_prestamo|default_if_none:"" }}</td>
            <td>{{ implemento.ultima_fecha_fin_prestamo|default_if_none:"" }}</td>    
        {% endif %}
        {% if implemento.estadoImplementoId.nombreEstadoImplemento != 'DISPONIBLE' %}
            <td><button id="reservarBtn" type="submit" disabled>Reservar</button></td>
        {% else %}
            <td>
                <!-- Esta parte se puede editar para enviar el id a la vista de prestamo -->
                <form action="{% url 'solicitarPrestamo' implemento.idImplemento %}" method="post">
                    {% csrf_token %}
                    <button id="reservarBtn" type="submit">Reservar</button>
                </form>
            </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
</div>
<div class="footer">
    <div class="textfooter">
        <p><strong>©</strong> Copyright 2024</p>
        <p>Algunos derechos reservados.</p>
        <p>Contáctenos</p>
        <p>Acerca de este sitio web</p>
        <p>Actualización: <strong>09/05/2024</strong></p>
    </div>
    <div class="lineafooter"></div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('#searchInput, #edificio').on('keyup change', function() {
            var searchText = $('#searchInput').val().toLowerCase();
            var edificio = $('#edificio').val();
            var anyRowVisible = false; // Variable para verificar si hay alguna fila visible
            
            // Restablecer los colores de fondo de todas las filas
            $('#tabla-implementos tbody tr').not(':first').css('background-color', ''); 
            
            // Mostrar todas las filas, excluyendo el encabezado
            $('#tabla-implementos tbody tr').not(':first').show();
            
            // Filtrar las filas de la tabla y ocultar las que no coinciden
            $('#tabla-implementos tbody tr').not(':first').each(function(index) {
                var nombre = $(this).find('td:first').text().toLowerCase();
                var edificioTd = $(this).find('td:nth-child(3)').text();
                
                // Ocultar las filas que no coinciden con los criterios de búsqueda
                if ((nombre.indexOf(searchText) === -1 && searchText !== '') ||
                    (edificio !== '' && edificio !== edificioTd)) {
                    $(this).hide();
                } else {
                    anyRowVisible = true; // Marcar que al menos una fila es visible
                }
            });
            
            // Actualizar el color de fondo de las filas visibles
            $('#tabla-implementos tbody tr:visible').not(':first').each(function(index) {
                if (index % 2 === 0) {
                    $(this).css('background-color', '#f9f9f9'); // Color de fondo para filas pares
                } else {
                    $(this).css('background-color', '#e6e6e6'); // Color de fondo para filas impares
                }
            });
            
            // Mostrar mensaje si no se encontraron resultados y si no se ha mostrado antes
            if (!anyRowVisible && !$('.no-results-message').length) {
                $('#tabla-implementos').after('<p class="no-results-message">No se encontraron implementos que coincidan con los criterios de búsqueda.</p>');
            } else if (anyRowVisible && $('.no-results-message').length) {
                $('.no-results-message').remove(); // Eliminar el mensaje si se encontraron resultados
            }
        });
    });
</script>


