@font-face {
    font-family: 'MiFuente';
    src: url('../static/AveriaSerifLibre-Regular.ttf') format('truetype');
}

body {
    font-family: 'MiFuente', sans-serif;
    margin: 0;
    padding: 0;    
    min-height: 100vh;
    background-image: url('../static/registro.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../static/registro.jpg');
    background-size: cover;
    background-position: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    background-color: #c0febf;
    position: relative;
    z-index: 1000;
    width: 100%;
    box-sizing: border-box;
}

.header-title {
    font-family: 'MiFuente', sans-serif;
    font-size: 30px;
    text-align: center;
}

.button-wrapper {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.button-wrapper img[alt="Botón 1"] {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transform: scaleX(-1);
    margin-right: 10px;
}

.button-wrapper span {
    font-family: 'MiFuente', sans-serif;
    font-size: 30px;
    color: black;
}

.header img[alt="Botón 2"] {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    cursor: pointer;
}

.content {
    flex: 1;
}

.grid-container {
    display: grid;
    width: 80%;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 12vh;
    height: 60vh;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    gap: 10px;
}

/* Estilo para cada cuadricula de la matriz */
.grid-container a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    padding: 0;
    margin: 0;
    border: none;
}

.texto {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    color: white;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
}

#aprobarPrestamoButton {
    background: url('../static/imgButtonAprobarPrestamo.jpg') no-repeat center center/cover;
}

#devolverPrestamoButton {
    background: url('../static/imgButtonDevolverPrestamo.png') no-repeat center center/cover;
}

#crearEventoButton {
    background: url('../static/imgButtonCrearEvento.png') no-repeat center center/cover;
}

#cancelarEventoButton {
    background: url('../static/imgButtonCancelarEvento.jpg') no-repeat center center/cover;
}

/* Estilos para el footer */
.footer {
    display: flex;
    padding: 20px;
    background-color: #c0febf;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    /*height: 12%; */
    height: 120px;
    align-items: center;
    justify-content: flex-end;
    position: fixed; /* Cambia a posición fija */
    box-sizing: border-box;
}

.textfooter {
    font-family: 'MiFuente', sans-serif;
    font-weight: bold;
    display: flex;
    position: relative;
    flex-direction: column;
    right: 50px;
    text-align: end;
}

.textfooter p {
    margin: 3px 0; /* Reducir el margen entre párrafos */
    font-size: 14px; /* Reducir el tamaño de la fuente si es necesario */
}

.lineafooter {
    position: relative;
    border-left: 1px solid black;
    height: 100px;
    margin-left: 10px;
    right: 50px;
}
/*.footer {
    font-size: small;
    text-align: right;
    align-items: right;
    padding: 2px;
    background-color: #c0febf;
    box-sizing: border-box;
}

.derechos {
    border-right: 1.5px solid black;
    margin-right: 10px;
    padding-right: 4px;
}*/

/* Menu Cerrar sesión */
#btn-menu {
    display: none;
}

#btn-menu:checked ~ .container-menu {
    opacity: 1;
    visibility: visible;
}

.container-menu {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

.cont-menu {
    visibility: hidden;
    width: 100%;
    height: 190px;
    position: absolute;
    right: 0;
    max-width: 250px;
    background-color: #c0febf;
    transition: all 500ms ease;
    transform: translateY(-100%);
}

/* Animación despliegue hacía abajo */
#btn-menu:checked ~ .container-menu .cont-menu {
    visibility: visible;
    transform: translateX(0%);
}

.container-menu nav {
    position: relative;
    top: 110px
}

.container-menu nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-left: 10px;
    color: black;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.container-menu nav a:hover {
    border-left: 5px solid black;
    background: rgba(0, 0, 0, 0.192);
}

.imgCerrarSesion {
    width: 40px;
    height: 40px;
    padding-right: 10px;
}

.imgCambiarRol {
    width: 40px;
    height: 40px;
    padding-right: 10px;
}

.disabled-link {
    color: #ccc; /* Cambia el color del texto a gris */
    pointer-events: none; /* Evita que se puedan hacer clic en el enlace */
    cursor: not-allowed; /* Cambia el cursor a "no permitido" */
    text-decoration: none; /* Quita cualquier decoración de texto */
    opacity: 0.5;
}
