@font-face {
    font-family: 'MiFuente';
    src: url('../static/AveriaSerifLibre-Regular.ttf') format('truetype');
}

body {
    font-family: 'MiFuente', sans-serif; 
    overflow-y: hidden;
    background-color: rgb(236, 233, 250); 
}

.register-page-container {
    display: flex;
    height: 97.6vh; 
}

.image-container {
    position: absolute;
    right: 0;
    top: 0;
    width: calc(50% - 10px); 
    height: 100%;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1); 
    overflow: hidden; 
    background-image: url('../static/registro.jpg');
    background-size: cover; 
    background-position: center;
    filter: blur(1px);
}

.form-container {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(50% - 10px); 
    height: 100%;
    background-color: rgb(236, 233, 250);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-title-container {
    position: fixed;
    top: -10px;
    left: 140px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 20px;
}

.logo {
    width: 80px;
    height: 80px;
    background-image: url('../static/icono.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 15px;
    margin-bottom: 10px; 
    transform: scaleX(-1);
}
.mensaje-exito h4{
    position: relative;
    align-items: center;
    top: -15px;
    left: 20px;
}
.mensaje-exito {
    z-index: 9999; 
    position: relative;
    top: -5px;
    left: 300px; 
    background-color: #d4edda; 
    color: #155724; 
    border: 1px solid #c3e6cb; 
    border-radius: 20px;
    max-height: 60px; 
    max-width: 320px;
    margin-bottom: 10px; 
}

.form-title {
    font-size: 40px;
    border-bottom: 2px solid black;
}

.form-group {
    text-align: left;
    margin-bottom: 3px; 
}

label {
    text-align: left;
    font-size: 16px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    font-family: 'MiFuente', sans-serif;
    font-size: 16.5px;
    padding: 10px 0.1px; 
    width: 93%;
    border-radius: 10px; 
}
.form-group .email-input-container {
    position: relative;
}

.form-group input[type="email"] {
    font-family: 'MiFuente', sans-serif;
    color: #000000; 
    font-size: 18px; 
}

.form-group .email-extension {
    position: absolute;
    right: 30px;
    bottom: 12px;
    color: #000000; 
    font-size: 18px; 
}


button[type="submit"] {
    font-family: 'MiFuente', sans-serif; 
    font-size: 30px; 
    padding: 10px 20px; 
    background-color: #2eeb2e; 
    color: white;
    border: none;
    cursor: pointer; 
    position: absolute; 
    bottom: 30px; 
    left: 47%; 
    transform: translateX(-50%); 
    border-radius: 30px;
}

button[type="submit"]:hover {
    background-color: #6b00b3; 
}

.location-container {
    display: flex;
    justify-content: space-between;
    margin-top: 9px;
}

.location-container .form-group input {
    width: 81%;
    height: 27%;
    border: 1.6px solid #000000; 
}

select {
    font-family: 'MiFuente', sans-serif; 
    font-size: 16px;
    padding: 10px;
    border-radius: 10px; 
    width: 93%; 
    background-color: #ffffff; 
    border: 1.6px solid #000000; 
}

label {
    margin-bottom: 5px; 
}
.cuadro {
    position: absolute;
    top: 50%;
    left: 76%;
    transform: translate(-50%, -50%);
    width: 500px; 
    height: 600px; 
    background-color: rgba(255, 255, 255, 0.527); 
    z-index: 1000;
    border-radius: 20px;
}
.cuadro h3 {
    font-size: 30px;
    text-align: center;
}

.cuadro img {
    position: fixed;
    top: 15%;
    left: 10%;
    width: 80%;
    height: 70%;
}

.cuadro button {
    position: fixed;
    left: 50%;
    width: 43%;
    height: 8%;
    top: 86%;
    font-family: 'MiFuente', sans-serif; 
    font-size: 20px; 
    padding: 10px 20px; 
    background-color: #963aff; 
    color: white;
    border: none;
    cursor: pointer; 
    position: absolute; 
    transform: translateX(-50%); 
    border-radius: 30px;
}
.cuadro button:hover {
    background-color: #4bd12a;
}
.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    cursor: pointer;
    border: none; 
    background-color: transparent;
    padding: 5px;
    font-size: 15px;
}
.toggle-password:hover {
    color: rgb(130, 34, 255); 
}

@media screen and (max-width: 900px) {
    .image-container,
    .cuadro {
        display: none; 
    }

    .register-page-container {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        position: relative; 
    }

    .form-container {
        width: 90%; 
        max-width: 400px; 
        margin: 0 auto;
        position: relative; 
        top: 20px;
        left: 0;
    }

    .form-title-container {
        position: absolute;
        bottom: 570px;
        left: 40px;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: 20px;
    }
    
    .button-container {
        text-align: center; 
        margin-top: 20px; 
        margin-right: 110px;
    }

    button[type="submit"] {
        position: relative; 
        border-radius: 30px;
    }
}

