{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumen Evento</title>
    <link rel="stylesheet" href="{% static 'asistirEvento.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        
    </style>
</head>
<body>
    <div class="header">
        <button class="button-wrapper" onclick="mostrarAlerta()">
            <img src="{% static 'icono.png' %}" alt="Botón 1">
            <span>zenUN</span>
        </button>
        <div class="header-title"><b>Asistir a evento</b></div>
        <label for="btn-menu">
            <img src="{% static 'menuIcon.png' %} " alt="Botón 2">
        </label>
    </div>
    <div class="informacion-imagen-container">
        <div id="informacionUsuario">
            <div id="contenedorDatos">
                <h1>Resumen de Evento</h1>
                <hr class="linea">
                <p>Nombre del Evento: <span id="nombre">{{ nombre_evento }}</span></p>
                <p>Organizador: <span id="organizador">{{ organizador }}</span></p>
                <p>Categoría: <span id="categoria">{{ categoria }}</span></p>
                <p>Fecha y Hora: <span id="fechayhora">{{ fecha_hora_evento }}</span></p>
                <p>Lugar: <span id="lugar">{{ lugar }}</span></p>
                <p>Descripción: <span id="descripcion">{{ descripcion_evento }}</span></p>
                <form id="myForm" action="{% url 'inscripcionExitosa' evento_id %}" method="POST">
                    <!-- token de validacion -->
                    {% csrf_token %}
                    <input type="button" id="submitButton" value="Inscribirse al evento">
                </form>
            </div>
        </div>
        <div id="contenedorImagen">
            <img src="data:image/jpeg;base64,{{ imagen_base64 }}" alt="{{ evento.nombreEvento }}">
        </div>
    </div>
    
    <div id="imageModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
    </div>
    
    <input type="checkbox" id = "btn-menu"> 
        <div class="container-menu">
            <div class="cont-menu">
                <nav>
                    <a href="{% url 'eventosInscritos'%}"> <img src="{% static 'eventosInscritos.png' %}" alt="Menu" 
                    class="imgCerrarSesion">Eventos Inscritos
                    </a>
                    <!-- Nuevo enlace para Cambiar de Rol -->
                    <a href="{% url 'SeleccionarRol' %}" {% if roles_count == 1 %}class="disabled-link"{% endif %}>
                    <img src="{% static 'cambio.png' %}" alt="Cambiar de Rol" class="imgCambiarRol">
                    Cambiar de Rol
                    </a>
                    <!-- Agrega un mensaje de prueba para verificar si la lógica funciona -->
                    <a href="{% url 'cerrar_sesion'%}"><img src="{% static 'logoutIcon.png' %}" alt="Menu" class="imgCerrarSesion">Cerrar Sesión</a>
                    <!-- Etiqueta "a" para agregar más items al menú -->
                </nav>           
            </div>
        </div>
    <script>
        document.getElementById("submitButton").addEventListener("click", function() {
            document.getElementById("myForm").submit();
        });

        function mostrarAlerta() {
            Swal.fire({
                title: '¡Atención!',
                text: '¿Quieres volver a la lista de eventos sin completar tu inscripción?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí',
                cancelButtonText: 'No'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '/eventos/';
                } else if (result.dismiss === Swal.DismissReason.cancel) {
                    // No se hace nada, se cierra el modal
                }
            });
        };

        var modal = document.getElementById("imageModal");
        var img = document.querySelector("#contenedorImagen img");
        var modalImg = document.getElementById("img01");
        var closeBtn = document.getElementsByClassName("close")[0];

        img.onclick = function(){
            modal.style.display = "block";
            modalImg.src = this.src;
        }

        closeBtn.onclick = function() { 
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</body>
</html>
