{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Evento</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="{% static 'crearEvento.css' %}">
</head>
<body>

<!-- Traer Libreria SweetAlertTwo-->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- Mensaje del backend-->
  {% if mensaje %}
    <div class="mensaje-exito">
      <script>     
        Swal.fire({
          position: "top",
          title: "Aviso Zenun",
          text: '{{mensaje}}',
          icon: 'warning',
          confirmButtonText: 'Aceptar'
        });
      </script>
    </div>
    {% endif %}

    <div class="header">
        <button class="button-wrapper" onclick="window.location.href = '../principalAdminBienestar'">
            <img src="{% static 'icono.png' %}" alt="Botón 1">
            <span>zenUN</span>
        </button>
        <div class="header-title">Crear Evento</div>
        <label for="btn-menu">
            <img src="{% static 'menuIcon.png' %}" alt="Botón 2">
        </label>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-md-6">
                <h2>Datos del evento</h2>
                <form action="{% url 'procesar_crear_evento' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="nombreEvento" name="nombreEvento" placeholder="Ej: Reunion de Semillero" required>
                        <label for="nombreEvento">Nombre del evento</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="organizador" name="organizador" placeholder="Ej: Semillero Uqbar" required>
                        <label for="organizador">Organizador</label>
                    </div>

                    <div class="form-floating mb-3">
                        <select name="categoria" class="form-select" id="categoria" aria-label="Floating label select example" required>
                        <option value="" selected disabled>Seleccione la categoría del evento</option>
                        {% for categoria in categorias %}
                            <option value="{{ categoria.idCategoriaEvento }}"> {{ categoria.nombreCategoriaEvento }}</option>
                        {% endfor %}
                        </select>
                        <label for="floatingSelect">Categoría</label>
                    </div>

                    <div class="mb-3">
                        <label for="datetimeInput" class="form-label">Fecha y Hora:</label>
                        <input type="datetime-local" class="form-control" id="datetimeInput" name="fechaHoraEvento" required>
                    </div>

                    <div class="form-floating mb-3">
                        <select class="form-select" id="edificio" aria-label="Floating label select example" name="edificio" required>
                        <option value="" selected disabled>Seleccione el edificio para el evento</option>
                        {% for edificio in edificios %}
                            <option value="{{ edificio.idEdificio }}"> {{ edificio.nombreEdificio }}</option>
                        {% endfor %}
                        </select>
                        <label for="floatingSelect">Edificio</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="lugar" name="lugar" placeholder="Ej: Salón 305" required>
                        <label for="lugar">Lugar</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="aforo" name="aforo" placeholder="Ej: 50" required>
                        <label for="aforo">Aforo</label>
                    </div>

                    <div class="form-floating mb-3">
                        <textarea class="form-control" name="descripcion" placeholder="Leave a comment here" id="descripcion" style="height: 100px; width: 350px;" required></textarea>
                        <label for="descripcion">Descripción</label>
                    </div>
                    
            </div>

                    <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
                        <div class="mb-3">
                            <div id="previsualizacionArchivo" class="mt-3 mb-5"></div>
                            <label for="archivoInput" class="form-label">Subir Archivo:</label>
                            <input type="file" class="form-control" id="archivoInput" accept="image/*" name="archivo" onchange="previsualizarArchivo(this)" required>    
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <button type="submit" class="button-style" onclick="validateForm()">Crear Evento</button>
                    </div>
                
                </form>
        </div>
    </div>

    <div class = "footer">
        <div class="derechos">@Copyright 2024<br>  
              Algunos derechos reservados.<br>
              Contáctenos<br>
              Acerca de este sitio web<br>
              Actualización: 04/05/2024
        </div>        
    </div>

<script src="tu/ruta/al/archivo/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    flatpickr('#datetimeInput', {
        enableTime: true,
        dateFormat: "Y-m-d H:i",
        time_24hr: true // Configura el formato de hora a 24 horas
    });
</script>

<script>
    function previsualizarArchivo(input) {
        const file = input.files[0];
        const maxSize = 2 * 1024 * 1024; // 2MB en bytes
        const allowedExtensions = ['jpg', 'jpeg', 'png']; // Extensiones permitidas
        const allowedMimeTypes = ['image/jpeg', 'image/png']; // Tipos MIME permitidos

        if (file.size > maxSize) {
            alert('El archivo es demasiado grande. El tamaño máximo permitido es 2MB.');
            Swal.fire({
                title: 'Error',
                text: 'El archivo es demasiado grande. El tamaño máximo permitido es 2MB.',
                icon: 'error',
                confirmButtonText: 'Aceptar'
            });
            input.value = ''; // Limpia el archivo seleccionado
            const previsualizacion = document.getElementById('previsualizacionArchivo');
            previsualizacion.innerHTML = "";
            return;
        }

        const fileExtension = file.name.split('.').pop().toLowerCase();
        if (!allowedExtensions.includes(fileExtension) || !allowedMimeTypes.includes(file.type)) {
            Swal.fire({
                title: 'Error',
                text: 'Formato de archivo no permitido. Solo se permiten archivos JPG, JPEG, PNG y GIF.',
                icon: 'error',
                confirmButtonText: 'Aceptar'
            });
            input.value = ''; // Limpia el archivo seleccionado
            const previsualizacion = document.getElementById('previsualizacionArchivo');
            previsualizacion.innerHTML = "";
            return;
        }

        const reader = new FileReader();
        reader.onload = function(e) {
            const previsualizacion = document.getElementById('previsualizacionArchivo');
            previsualizacion.innerHTML = '<img src="' + e.target.result + '" alt="Previsualización del Archivo">';
        }

        reader.readAsDataURL(file);
    }

    // funcion para validar los campos del formulario 
  function validateForm() {
    var nombreEvento = document.getElementById('nombreEvento').value;
    var organizador = document.getElementById('organizador').value;
    var categoria = document.getElementById('categoria').value;
    var fechaHoraEvento = document.getElementById('datetimeInput').value;
    var edificio = document.getElementById('edificio').value;
    var lugar = document.getElementById('lugar').value;
    var aforo = document.getElementById('aforo').value;
    var descripcion= document.getElementById('descripcion').value;


    if (nombreEvento === ''){
        mostrarAlertaError("Error:","Por favor, complete el campo del nombre del evento.");
        event.preventDefault(); // Detener el envío del formulario
    }else if(organizador === ''){
        mostrarAlertaError("Error:","Por favor, complete el campo del organizador del evento.");
        event.preventDefault(); // Detener el envío del formulario
    }else if(categoria === ''){
        mostrarAlertaError("Error:","Por favor, seleccione una opción de categoría del evento.");
        event.preventDefault(); // Detener el envío del formulario
    }else if(fechaHoraEvento === ''){
        mostrarAlertaError("Error:","Por favor, seleccione la fecha de realización del evento.");
        event.preventDefault(); // Detener el envío del formulario
    }else if(edificio === ''){
        mostrarAlertaError("Error:","Por favor, seleccione el edificio donde se va a realizar el evento.");
        event.preventDefault(); // Detener el envío del formulario
    }else if(lugar === ''){
        mostrarAlertaError("Error:","Por favor, indique el lugar donde se va a realizar el evento.(ej: Salón 305)");
        event.preventDefault(); // Detener el envío del formulario
    }else if(aforo === ''){
        mostrarAlertaError("Error:","Por favor, indique el aforo del evento.");
        event.preventDefault(); // Detener el envío del formulario
    }else if(descripcion === ''){
        mostrarAlertaError("Error:","Por favor, indique una descrición sobre el evento que resulte de interés para los posibles asistentes.");
        event.preventDefault(); // Detener el envío del formulario
    }
}  
  // funcion para crear una alerta con la libreria SweetAlert2
  function mostrarAlertaError(titulo="",texto) {
    // Mostrar alerta personalizada con SweetAlert2
    Swal.fire({
      title: titulo,
      text: texto,
      icon: 'error',
      confirmButtonText: 'Aceptar'
    });
  }

</script>
</body>

</html>