<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Eventos</title>
</head>
<body>
    {% for evento in eventos %}
            <li>
                <h2>{{ evento.nombreEvento }}</h2>
                <p>Fecha: {{ evento.fechaHoraEvento|date:"d/m/Y" }}</p>
                <p>Hora: {{ evento.fechaHoraEvento|time:"H:i:s" }}</p>
                <img src="data:image/jpeg;base64,{{ evento.imagen_base64 }}" alt="{{ evento.nombreEvento}}">
            </li>
        {% endfor %}
</body>
</html>
