{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Eventos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'listaEventos.css' %}">
</head>
<body>
    <div class="header">
        <button class="button-wrapper" onclick="window.location.href = '/paginaPrincipalEstudiante/';">
            <img src="{% static 'icono.png' %}" alt="Botón 1">
            <span>zenUN</span>
        </button>
        <div class="header-title"><b>Eventos</b></div>
        <img src="{% static 'perfil.png' %}" alt="Botón 2">
    </div>
    <ul class="eventos-container">
        {% for evento in eventos %}
            <a href="{% url 'asistirEvento' evento.idEvento %}" class="evento-link">
                <li class="evento">
                    <div class="titulo">{{ evento.nombreEvento }}</div>
                    <div class="contenido">
                        <div class="fecha-hora-container-1">
                            <i class="fas fa-calendar-alt"></i>
                        </div>
                        <div class="fecha-hora-container"></div>
                        <p>Fecha: {{ evento.fechaHoraEvento|date:"d/m/Y" }} Hora: {{ evento.fechaHoraEvento|time:"H:i:s" }}</p>
                    </div>
                    <img src="data:image/jpeg;base64,{{ evento.imagen_base64 }}" alt="{{ evento.nombreEvento }}">
                </li>
            </a>
        {% endfor %}
    </ul>
</body>
</html>
