{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Informes</title>
    <link rel="stylesheet" href="{% static 'vistaPrincipal_informes.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<!-- Encabezado -->
<div class="header">
    <a href="{% url 'principalAdminMaster' %}" style="text-decoration: none;">
        <button class="button-wrapper">
            <img src="../static/icono.png" alt="Botón 1">
            <span>zenUN</span>
        </button>
    </a>
    <div class="header-title">Página de genración de eventos</div>
</div>

<body>
<!-- Traer Libreria SweetAlertTwo-->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- Mensaje del backend-->
  {% if mensaje %}
    <div class="mensaje-exito">
      <script>     
        Swal.fire({
          position: "top",
          title: "Aviso Zenun",
          text: '{{mensaje}}',
          icon: 'warning',
          confirmButtonText: 'Aceptar'
        });
      </script>
      <!-- <h4>{{ mensaje }}</h4> -->
    </div>
  {% endif %}

    <div class="sideMenu">
        <button id="btn1">Informes eventos</button>
        <button id="btn2">Informes asistencia</button>
        <button id="btn3">Informes prestamos</button>
    </div>

    <div class="content">
        <div id="formContainer">
            <form>
                {% csrf_token %}
                <h1>Generar informes de eventos</h1>
                <!-- Formulario de informe de eventos -->
                <label for="fechaInicio"><strong>Fecha de inicio:</strong></label> <br>
                <input type="date" id="fechaInicio" name="fechaInicio"><br><br>

                <label for="fechaFin"><strong>Fecha de fin:</strong></label> <br>
                <input type="date" id="fechaFin" name="fechaFin"><br><br>

                <label for="lugarEvento"><strong>Lugar de los eventos:</strong></label><br>
                <input type="text" id="lugarEvento" name="lugarEvento"><br><br>

                <label><strong>Elige una o más categorias:</strong></label><br>
                <input type="checkbox" id="opcion1" name="opciones" value="Bienestar">
                <label for="opcion1">Bienestar</label><br>
                <input type="checkbox" id="opcion2" name="opciones" value="Semillero">
                <label for="opcion2">Semillero</label><br>
                <input type="checkbox" id="opcion3" name="opciones" value="Convocatoria Deportiva">
                <label for="opcion3">Convocatoria Deportiva</label><br>
                <input type="checkbox" id="opcion4" name="opciones" value="Torneo">
                <label for="opcion4">Torneo</label><br><br>

                <button type="submit" onclick="validateForm_eventos()"> Generar informe</button>
            </form>
        </div>
    </div>

    <div class = "footer">
        <div class="derechos">@Copyright 2024<br>  
            Algunos derechos reservados.<br>
            Contáctenos<br>
            Acerca de este sitio web<br>
            Actualización: 04/05/2024
        </div>        
    </div>

    <script>
        $('#btn1').click(function() {
            $('#formContainer').html(`
                <form>
                    {% csrf_token %}
                    <h1>Generar informes de eventos</h1>
                    <!-- Formulario de informe de eventos -->
                    <label for="fechaInicio"><strong>Fecha de inicio:</strong></label> <br>
                    <input type="date" id="fechaInicio" name="fechaInicio"><br><br>

                    <label for="fechaFin"><strong>Fecha de fin:</strong></label> <br>
                    <input type="date" id="fechaFin" name="fechaFin"><br><br>

                    <label for="lugarEvento"><strong>Lugar de los eventos:</strong></label><br>
                    <input type="text" id="lugarEvento" name="lugarEvento"><br><br>

                    <label><strong>Elige una o más categorias:</strong></label><br>
                    <input type="checkbox" id="opcion1" name="opciones" value="Bienestar">
                    <label for="opcion1">Bienestar</label><br>
                    <input type="checkbox" id="opcion2" name="opciones" value="Semillero">
                    <label for="opcion2">Semillero</label><br>
                    <input type="checkbox" id="opcion3" name="opciones" value="Convocatoria Deportiva">
                    <label for="opcion3">Convocatoria Deportiva</label><br>
                    <input type="checkbox" id="opcion4" name="opciones" value="Torneo">
                    <label for="opcion4">Torneo</label><br><br>

                    <button type="submit">Generar informe</button>
                </form>
            `);
        });

        $('#btn2').click(function() {
            $('#formContainer').html(`
                <form>
                    {% csrf_token %}
                    <h1>Generar informes de asistencia de eventos</h1>
                    <!-- Formulario de informe de eventos -->
                    <label for="idEvento"><strong>ID del evento:</strong></label> <br>
                    <input type="text" id="idEvento" name="idEvento"><br><br>

                    <label for="lugarEvento"><strong>Lugar de los eventos:</strong></label><br>
                    <input type="text" id="lugarEvento" name="lugarEvento"><br><br>

                    <label for="nombreEvento"><strong>Nombre del evento:</strong></label> <br>
                    <input type="text" id="nombreEvento" name="nombreEvento"><br><br>

                    <button type="submit">Generar informe</button>
                </form>
            `);
        });

        $('#btn3').click(function() {
            $('#formContainer').html(`
                <form>
                    {% csrf_token %}
                    <h1>Generar informes de prestamo de implementos</h1>
                    <!-- Formulario de informe de eventos -->
                    <label for="fechaInicio"> <strong>Fecha de inicio:</strong></label> <br>
                    <input type="date" id="fechaInicio" name="fechaInicio"><br><br>

                    <label for="fechaFin"><strong>Fecha de fin:</strong></label> <br>
                    <input type="date" id="fechaFin" name="fechaFin"><br><br>

                    <label for="idImplemento"><strong>ID del implemento:</strong></label> <br>
                    <input type="number" id="idImplemento" name="idImplemento"><br><br>

                    <label> <strong> Elige una o más categorias: </strong></label><br>
                    <input type="checkbox" id="opcion1" name="opciones" value="opcion1">
                    <label for="opcion1">Reserva</label><br>
                    <input type="checkbox" id="opcion2" name="opciones" value="opcion2">
                    <label for="opcion2">Disponible</label><br>
                    <input type="checkbox" id="opcion3" name="opciones" value="opcion3">
                    <label for="opcion3">No disponible</label><br><br>

                    <label for="documentoEncargado"><strong>Documento del encargado:</strong></label> <br>
                    <input type="number" id="documentoEncargado" name="documentoEncargado"><br><br>

                    <button type="submit">Generar informe</button>
                </form>
            `);
        });

    </script>
    <script>
        // METODOS PARA LOS MENSAJES DE ERROR
        // funcion para validar los campos del formulario de prestamos 
        function validateForm_prestamos() {
            var fechaInicio= document.getElementById('fechaInicio').value;
            var fechaFinal = document.getElementById('fechaFin').value;
            var nombreImplemento = document.getElementById('nombreImplemento').value;

            //si esta vacio algun campo OBLIGATORIO
            if (fechaInicio === '' || fechaFinal === '') {
                mostrarAlertaError("Error:","Porfavor, rellene todos los campos obligatorios de fechas.");
                event.preventDefault(); // Detener el envío del formulario
                return(0)
            }else{
                // si la fechas NO son LOGICAS 
                const fechaIni = new Date(fechaInicio);
                const fechaFin = new Date(fechaFinal);
                if(fechaFin < fechaIni){
                    mostrarAlertaError("Error fecha de FINAL NO puede ser MENOR a la INICIAL");
                    event.preventDefault(); // Detener el envío del formulario
                }
                else if(fechaInicio == fechaFinal){
                    mostrarAlertaError("Error fecha de FINAL NO puede ser IGUAL a la INICIAL, escoja un Rango");
                    event.preventDefault(); // Detener el envío del formulario
                }
            }
            
        }

        // Validacion de form eventos 
        function validateForm_eventos() {
            var fechaInicio = document.getElementById('fechaInicio').value;
            var fechaFinal = document.getElementById('fechaFin').value;
            var lugarEvento = document.getElementById('lugarEvento').value;
            var opciones = document.getElementsByName('opciones')

            var seleccionadas = [];
            
            // Recorrer el NodeList de opciones
            for (var i = 0; i < opciones.length; i++) {
                // Verificar si la opción está seleccionada
                if (opciones[i].checked) {
                    // Agregar el valor de la opción seleccionada al array de SELECCIONADAS
                    seleccionadas.push(opciones[i].value);
                }
            }

            // console.log("opciones pepe",  seleccionadas)
            if (fechaInicio === '' || fechaFinal === '') {
                mostrarAlertaError("Error:","Porfavor, rellene todos los campos obligatorios de fechas");
                event.preventDefault(); // Detener el envío del formulario
            }else{
                // si la fechas NO son LOGICAS 
                const fechaIni = new Date(fechaInicio);
                const fechaFin = new Date(fechaFinal);
                if(fechaFin < fechaIni){
                    mostrarAlertaError("Error fecha de FINAL NO puede ser MENOR a la INICIAL");
                    event.preventDefault(); // Detener el envío del formulario
                }
                else if(fechaInicio == fechaFinal){
                    mostrarAlertaError("Error fecha de FINAL NO puede ser IGUAL a la INICIAL, escoja un Rango");
                    event.preventDefault(); // Detener el envío del formulario
                }else{
                    if(seleccionadas.length == 0){
                        mostrarAlertaError("Error:","Porfavor, SELECCIONE por lo menos una categoria ");
                        event.preventDefault(); // Detener el envío del formulario
                    }
                }

            }
            
        }

        function validateForm_asistencia() {
            var nombreEvento = document.getElementById('nombreEvento').value;

            //si esta vacio algun campo OBLIGATORIO
            if (nombreEvento === '' ) {
                mostrarAlertaError("Error:","Porfavor, rellene el campo de nombre del evento");
                event.preventDefault(); // Detener el envío del formulario
            }
        }

        // funion para crear una alerta de ERROR con la libreria SweetAlert2
        function mostrarAlertaError(titulo="",texto) {
            // Mostrar alerta personalizada con SweetAlert2
            Swal.fire({
            title: titulo,
            text: texto,
            icon: 'error',
            confirmButtonText: 'Aceptar'
            });
        }

        // funion para crear una alerta de AVISO con la libreria SweetAlert2
        function mostrarAlertaAviso(titulo="",texto) {
            // Mostrar alerta personalizada con SweetAlert2
            Swal.fire({
            title: titulo,
            text: texto,
            icon: 'warning',
            confirmButtonText: 'Aceptar'
            });
        }

    </script>
</body>

</html>