{% load static %}

<!DOCTYPE html>
<html lang ="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Correo Enviado</title>
        <link rel="stylesheet" href="{% static 'CorreoEnviado.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>

    <body>
        <div class="container-content">
            <p>Enviamos un enlace de recuperación a tu correo</p>

            <button onclick="goToLogin()">Regresar</button>
        </div>
        <script> function goToLogin() {
            var urllogin = "{% url 'loginUsuario' %}";
            window.location.href = urllogin;
        }
        </script>
    </body>
</html>