{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Eventos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'listaEventos.css' %}">
</head>
<body>
    <!-- Traer Libreria SweetAlertTwo-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Mensaje del backend-->
    {% if mensaje %}
    <script>
        Swal.fire({
        position: "top",
        title: "Aviso Zenun",
        text: '{{mensaje}}',
        icon: 'warning',
        confirmButtonText: 'Aceptar'
        });
    </script>
    {% endif %}
    <div class="header">
        <button class="button-wrapper" onclick="window.location.href = '/paginaPrincipalEstudiante/';">
            <img src="{% static 'icono.png' %}" alt="Botón 1">
            <span>zenUN</span>
        </button>
        <div class="header-title"><b>Eventos Inscritos</b></div>
        <label for="btn-menu">
            <img src="{% static 'menuIcon.png' %} " alt="Botón 2">
        </label>
    </div>
    <ul class="eventos-container">
        {% for evento in eventos %}
            <a href="{% url 'detalleEventosInscritos' evento.idEvento %}" class="evento-link">
                <li class="evento">
                    <div class="titulo">{{ evento.nombreEvento }}</div>
                    <div class="contenido">
                        <div class="fecha-hora-container-1">
                            <i class="fas fa-calendar-alt"></i>
                        </div>
                        <div class="fecha-hora-container"></div>
                        <p>Fecha: {{ evento.fechaHoraEvento|date:"d/m/Y" }} Hora: {{ evento.fechaHoraEvento|time:"H:i:s" }}</p>
                    </div>
                    <img src="data:image/jpeg;base64,{{ evento.imagen_base64 }}" alt="{{ evento.nombreEvento }}">
                </li>
            </a>
        {% endfor %}
    </ul>
    <!-- Menú Cerrar Sesión -->
  <input type="checkbox" id = "btn-menu"> 
  <div class="container-menu">
      <div class="cont-menu">
          <nav>
             <!-- Nuevo enlace para Cambiar de Rol -->
             <a href="{% url 'SeleccionarRol' %}" {% if roles_count == 1 %}class="disabled-link"{% endif %}>
              <img src="{% static 'cambio.png' %}" alt="Cambiar de Rol" class="imgCambiarRol">
              Cambiar de Rol
            </a>
            <!-- Agrega un mensaje de prueba para verificar si la lógica funciona -->
             <a href="{% url 'eventosInscritos'%}"><img src="{% static 'eventosInscritos.png' %}" alt="Menu" class="imgCerrarSesion">Eventos Inscritos</a>
             <a href="{% url 'cerrar_sesion'%}"><img src="{% static 'logoutIcon.png' %}" alt="Menu" class="imgCerrarSesion">Cerrar Sesión</a>
              
              <!-- Etiqueta "a" para agregar más items al menú -->
          </nav>            
      </div>
  </div>
</body>
</html>