{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="{% static 'LoginPage.css' %}">  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  
</head>
<body>
  <!-- Traer Libreria SweetAlertTwo-->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- Mensaje del backend-->
  {% if mensaje %}
    <script>     
      Swal.fire({
        position: "top",
        title: "Aviso Zenun",
        text: '{{mensaje}}',
        icon: 'warning',
        confirmButtonText: 'Aceptar'
      });
    </script>
  {% endif %}

  <div class="login-page-container">
    <!-- form para el formulario de login -->
    <div class="image-container"></div>
    <form action="{% url 'autenticar_credenciales_usuario' %}" method="POST">
      {% csrf_token %}
      <div class="form-container">
        <div class="form-title-container">
          <div class="logo"></div>
          <h2 class="form-title">Iniciar Sesión</h2>
        </div>
        <div class="form-group">
          <label for="username">Usuario:</label>
          <input type="email" id="username" name="email" required>
        </div>
        <div class="form-group">
          <label for="password">Contraseña:</label>
          <div class="password-container">
            <input type="password" id="password" name="password" required>
            <button type="button" class="toggle-password" onclick="togglePasswordVisibility('password')">
              <i id="eye-icon-password" class="fas fa-eye-slash"></i>
            </button>      
          </div>
        </div>
        <button type="submit" onclick="validateFormLoginPage()">Iniciar Sesión</button>
        <a href="{% url 'enviarCorreo_contrasena' %}" >¿Olvidaste tu contraseña?</a>
      </div>
    </form>

  <div class="cuadro">
    <h3>Centro de Bienestar UNAL</h3>
    <img src="{% static 'welcome.png' %}">
    <button onclick="goToRegisterPage()"> ¿Aún no tienes cuenta?</button>
  </div>
  <script>
    function validateFormLoginPage() {
      var username = document.getElementById('username').value;
      var password = document.getElementById('password').value;
      if (username === '' || password === ''){
        mostrarAlertaError("Error", 'Por favor, llene todos los campos.')
        event.preventDefault(); // Detener el envío del formulario
      } 
    }

    function mostrarAlertaError(titulo="",texto) {
      // Mostrar alerta personalizada con SweetAlert2
      Swal.fire({
        title: titulo,
        text: texto,
        icon: 'error',
        confirmButtonText: 'Aceptar'
      });
    }
      
    function togglePasswordVisibility(inputId) {
      var passwordInput = document.getElementById(inputId);
      var button = document.querySelector("#" + inputId + " + .toggle-password");
      var eyeIcon = document.querySelector("#" + inputId + " + .toggle-password i");

      if (passwordInput.type === "password") {
        passwordInput.type = "text";
        eyeIcon.classList.remove("fa-eye-slash");
        eyeIcon.classList.add("fa-eye");
      } else {
        passwordInput.type = "password";
        eyeIcon.classList.remove("fa-eye");
        eyeIcon.classList.add("fa-eye-slash");
      }
    }

    function goToRegisterPage() {
      var urlRegistroEstudiante = "{% url 'registroEstudiante' %}";
      window.location.href = urlRegistroEstudiante;
    }
  </script>
</body>
</html>
