<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal Estudiante </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>
    <style>
        .form-group label, 
        .form-group input {
        display: block;
        }
    </style>
    <body>
      <!-- Traer Libreria SweetAlertTwo-->
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <!-- Mensaje del backend-->
      {% if mensaje %}
        <script>     
          Swal.fire({
            position: "top",
            title: "Aviso Zenun",
            text: '{{mensaje}}',
            icon: 'warning',
            confirmButtonText: 'Aceptar'
          });
        </script>
      {% endif %}
        <h1> Pagina principal Estudiante </h1>

        <h1>¿Estás seguro de que deseas cerrar sesión?</h1>
        <form action="{% url 'cerrar_sesion' %}" method="post">
            {% csrf_token %}
            <button type="submit">Cerrar Sesión</button>
        </form>
    </body>
</html>