{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="{% static 'OTP.css' %}">  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  
</head>
<body>
    <!-- Traer Libreria SweetAlertTwo-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Mensaje del backend-->
    {% if mensaje %}
      <script>     
        Swal.fire({
          position: "top",
          title: "Aviso Zenun",
          text: '{{mensaje}}',
          icon: 'warning',
          confirmButtonText: 'Aceptar'
        });
      </script>
    {% endif %}
    <form action="{% url 'aprobar_OTP' token=token %}" method='POST'>
        {% csrf_token %}

        <h3><strong>Ingresa el código de verificación:</strong></h3>
        <div class="mb-3">
            <label class="form-label">Código de verificación: </label>
            <input type="text" class="form-control" name="otp_code" required>
          </div>

          <div class="button-container">
              <button class="btn btn-primary">Activar cuenta</button>
          </div>

    </form>
</body>
</html>
