{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal Administrador Bienestar</title>
    <link rel="stylesheet" href="../static/principalAdminBienestar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">    
</head>
    <div class="header">
        <button class="button-wrapper" onclick="window.location.href = 'principalAdminBienestar'">
            <img src="../static/icono.png" alt="Botón 1">
            <span>zenUN</span>
        </button>
        <div class="header-title">Página Principal Administradores de Bienestar</div>
        <img src="../static/perfil.png" alt="Botón 2">
    </div>
<body>
    <div class = "grid-container">        
        <a id = "aprobarPrestamoButton" href=""><span class="texto">Aprobar Préstamo</span></a>
        <a id = "devolverPrestamoButton" href="{% url 'devolucionImplementos' %}"><span class="texto">Devolver Préstamo</span></a>
        <a id = "crearEventoButton" href=""><span class="texto">Crear Evento</span></a>
    </div>
    <div class = "footer">
        <div class="derechos">@Copyright 2024<br>  
              Algunos derechos reservados.<br>
              Contáctenos<br>
              Acerca de este sitio web<br>
              Actualización: 04/05/2024
        </div>        
    </div>
</body>

</html>