{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar contraseña</title>
    <link rel="stylesheet" href="{% static 'ResetPasswordPage.css' %}"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    {% if mensaje %}
    <div class="mensajeBackend">
      <h4>{{mensaje}}</h4>m 
    </div>
    {% endif %}

   
    <!-- <form action="{% url 'procesar_cambio_contrasena' correoUsuario2=correoUsuario codigoCifrado2=codigoCifrado %}" method="POST">
        {% csrf_token %}
        <label for="newPassword">Introduce tu contraseña nueva:</label>
        <input type="password" id="newPassword" name="newPassword" required>
        <label for="confirmPassword">Verifica tu contraseña:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
        <button type="submit" >Verificar Contraseña</button>
    </form> -->

    <form action="{% url 'procesar_cambio_contrasena' correoUsuario2=correoUsuario codigoCifrado2=codigoCifrado %}" method="POST">
        {% csrf_token %}
        <label for="newPassword">Introduce tu contraseña nueva:</label>
        <input type="password" id="newPassword" name="newPassword" required>
        <label for="confirmPassword">Verifica tu contraseña:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
        <button type="submit" >Verificar Contraseña</button>
    </form>

</body>
</html>
