{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablece tu contraseña</title>
    <link rel="stylesheet" href="{% static 'SendEmailResetPasswordPage.css' %}"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    {% if mensaje %}
    <div class="mensajeBackend">
      <h4>{{mensaje}}</h4>
    </div>
    {% endif %}

    <h1>Restablece<br>
        tu contraseña</h1>
    <p>Introduce tu dirección de correo electrónico a continuación.<br>
        Echaremos un vistazo a tu cuenta y te enviaremos un correo electrónico<br>
        para restablecer tu contraseña.</p>        
    <form action="{% url 'procesar_enviarCorreo_contrasena' %}" method="POST">
        {% csrf_token %}
        <label for="email">CORREO ELECTRONICO</label>
        <p><input type="email" name="email" required></p>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
