{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablece tu contraseña</title>
    <link rel="stylesheet" href="{% static 'SendEmailResetPasswordPage.css' %}"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="container-content">
        <h1>Restablece<br>
            tu contraseña</h1>
        <p>Ingresa tu dirección de correo electrónico, echaremos un vistazo a tu cuenta y te enviaremos 
            un correo electrónico
            para restablecer tu contraseña.</p>        
            <form action="{% url 'procesar_enviarCorreo_contrasena' %}" method="POST" onsubmit="return validateDomain()">
            {% csrf_token %}
            {% if mensaje %}
                <h4 class="mensaje">{{ mensaje }}</h4>
            {% endif %}
            <label for="email">CORREO ELECTRONICO</label>
            <p><input type="email" id="email" name="email"></p>
            <hr class="linea"> 
            <input type="submit" value="Enviar">
        </form>
    </div>
    <script>
        function validateDomain (){
            var email = document.getElementById('email').value;

            if(!email.endsWith("unal.edu.co")){
                alert('El correo debe tener dominio .Unal');
                return false; 
            }
            return true; 
        }
    </script>
</body>
</html>