<html>
    <head>

    </head>
    <body>
        <h2>No hay problema, puedes restablecer tu contraseña de zenUN<br>
            tras hacer clic en el siguiente enlace:<br>
            <a href="http://127.0.0.1:8000/cambiarContraseña/">Restablecer contraseña</a><br><br>
            
            Si no solicitaste el restablecimiento de tu contraseña, <br>
            puedes borrar este email y continuar disfrutando tu aplicación.<br><br>
            
            Saludos.<br>
            El equipo de zenUN Los Capis"<br>
            </h2>
    </body>
</html>