@font-face {
    font-family: 'MiFuente';
    src: url('../static/AveriaSerifLibre-Regular.ttf') format('truetype');
}

/*Header*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    background-color: #c0febf;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    box-sizing: border-box;
}
.header-title {
    font-family: 'MiFuente', sans-serif;
    font-size: 30px;
    text-align: center;    
}   
.button-wrapper {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}
.button-wrapper img[alt="Botón 1"] {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transform: scaleX(-1);
    margin-right: 10px;
}
.button-wrapper span {
    font-family: 'MiFuente', sans-serif;
    font-size: 30px;
    color: black; 
}
.header img[alt="Botón 2"] {
    width: 80px;
    height: 80px;
    cursor: pointer;
}
/*Header*/

body{
    font-family: 'MiFuente', sans-serif;
}

#previsualizacionArchivo {
    width: 500px;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#previsualizacionArchivo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#nombreEvento, #organizador, #categoria, #edificio, #lugar, #aforo, #descripcion, #datetimeInput, #datetimeInput1{
    max-width: 350px; /* Puedes ajustar este valor según tu preferencia */
}
.button-style {
    font-family: 'MiFuente', sans-serif;
    font-size: 20px;
    width: 30%;
    padding: 5px;
    border-radius: 30px;
    border: none;
    background-color: #6b00b3;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ajusté la opacidad del shadow a 0.2 */
    margin-bottom: 5px;
    margin-left: 70px;
}

.button-style:hover {
    background-color: #2eeb2e;
}

/*Footer*/
.footer{    
    font-size: small;
    text-align: right;    
    align-items: right;
    padding: 2px;
    background-color: #c0febf;
    position: relative;    
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    box-sizing: border-box;
    
}
.derechos{
    border-right: 1.5px solid black;
    margin-right: 10px;
    padding-right: 4px;
}
/*Footer*/