@font-face {
    font-family: 'MiFuente';
    src: url('../usuarios/static/AveriaSerifLibre-Regular.ttf') format('truetype');
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    background-color: #c0febf;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    box-sizing: border-box;
}

.header-title {
    font-family: 'MiFuente', sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.button-wrapper {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.button-wrapper img[alt="Botón 1"] {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transform: scaleX(-1);
    margin-right: 10px;
}

.button-wrapper span {
    font-family: 'MiFuente', sans-serif;
    font-size: 30px;
    color: black; 
}

.header img[alt="Botón 2"] {
    width: 2%;
    height: 2%;
    cursor: pointer;
}

.sideMenu {
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: #c0febf;
    color: #fff;
    padding: 20px;

    display: flex; /* convierte el contenedor en un contenedor flex */
    justify-content: flex-start; /* centra los elementos hijos horizontalmente */
    flex-direction: column; /* alinea los elementos hijos en una fila */
    gap: 10%; /* añade un espacio de 10px entre los elementos hijos */

}

.sideMenu button{
    font-family: 'MiFuente', sans-serif;
    font-size: 20px;
    padding: 10px;
    background-color: gray; 
    color: white;
    border: none;
    cursor: pointer; 
    border-radius: 10px;

}

body {
    font-family: 'MiFuente', sans-serif;
    margin: 0;
    padding: 0;    
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-image: url('../static/registro.jpg');    
    background-size: cover;
    background-position: center;
}

body::after {
    content: "";
    background: inherit;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    filter: blur(2px);
    z-index: -1;
}

.content {
    margin-left: 220px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#formContainer {
    font-family: 'MiFuente', sans-serif;
    background-color: white; /* Esto hará que el fondo del contenedor sea blanco */
    padding: 20px; /* Esto añadirá un poco de espacio alrededor del contenido del contenedor */
    border-radius: 10px; /* Esto redondeará las esquinas del contenedor */
}



input[type="text"],
input[type="number"],
input[type="date"] {
    font-family: 'MiFuente', sans-serif;
    font-size: 16.5px;
    padding: 10px 0.1px; 
    width: 93%;
    border-radius: 10px; 
}

label {
    text-align: left;
    font-size: 16px;
}

button[type="submit"] {
    font-family: 'MiFuente', sans-serif; 
    font-size: 26px; 
    padding: 2px 15px; 
    background-color: #2eeb2e7c; 
    color: white;
    border: none;
    cursor: pointer; 
    position: relative; 
    bottom: -5px; 
    left: 47%; 
    transform: translateX(-50%); 
    border-radius: 30px;
}

button[type="submit"]:hover {
    background-color: #6b00b3; 
}

.footer{    
    font-size: small;
    text-align: right;    
    align-items: right;
    padding: 2px;
    background-color: #c0febf;
    position: absolute;    
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    box-sizing: border-box;
    
}
.derechos{
    border-right: 1.5px solid black;
    margin-right: 10px;
    padding-right: 4px;
}
