@font-face {
    font-family: 'MiFuente';
    src: url('../static/AveriaSerifLibre-Regular.ttf') format('truetype');
}
p {
    margin: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    background-color: #c0febf;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    height: 10%;
    box-sizing: border-box;
}

.header-title {
    font-family: 'MiFuente', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-right: 100px;
}

.button-wrapper {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.button-wrapper img[alt="Botón 1"] {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transform: scaleX(-1);
    margin-right: 10px;
}

.button-wrapper span {
    font-family: 'MiFuente', sans-serif;
    font-size: 30px;
    color: black;
}

.header img[alt="Botón 2"] {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.sideMenu {
    width: 30%;
    height: 100%;
    position: absolute;
    background-color: #c0febf;
    color: #fff;
    padding: 20px;
    display: flex; /* convierte el contenedor en un contenedor flex */
    justify-content: flex-start; /* centra los elementos hijos horizontalmente */
    flex-direction: column; /* alinea los elementos hijos en una fila */
    gap: 15%; /* añade un espacio de 10px entre los elementos hijos */
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
}

.sideMenu button{
    font-family: 'MiFuente', sans-serif;
    font-size: 26px;
    padding: 10px;
    background-color: lightgrey; 
    color: black;
    border: none;
    cursor: pointer; 
    border-radius: 10px;
    width:95%;
    height:100px;
    transition: filter 1s; 
}

#btn1:hover {
    filter: brightness(70%) saturate(100%);
    cursor: pointer;
}
#btn2:hover {
    filter: brightness(70%) saturate(100%);
    cursor: pointer;
}
#btn3:hover {
    filter: brightness(70%) saturate(100%);
    cursor: pointer;
}

body {
    display:flex;
    flex-direction: column;
    font-family: 'MiFuente', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vh;
    background-image: url('../static/registro.jpg');
    background-size: cover;
    background-position: center;
    position:relative;
    gap:92px;
}

.content {
    display:flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#formContainer {
    font-family: 'MiFuente', sans-serif;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 37%;
}

input[type="text"],
input[type="number"],
input[type="date"] {
    margin:10px;
    font-family: 'MiFuente', sans-serif;
    font-size: 16px;
    padding: 10px 15px; 
    width: 93%;
    border-radius: 10px; 
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="checkbox"] {
    margin:5px;
}

label {
    margin:3px;
}

button[type="submit"] {
    font-family: 'MiFuente', sans-serif; 
    font-size: 26px; 
    padding: 10px 30px; 
    background-color: #2eeb2e; 
    color: white;
    border: none;
    cursor: pointer; 
    position: relative; 
    bottom: -5px; 
    left: 47%; 
    transform: translateX(-50%); 
    border-radius: 30px;
}

button[type="submit"]:hover {
    background-color: #6b00b3; 
}

select {
    font-family: 'MiFuente', sans-serif; 
    font-size: 16px;
    padding: 10px;
    border-radius: 10px; 
    width: 93%; 
    margin-top: 10px;
    background-color: #ffffff; 
    border: 1.6px solid #000000; 
}

.footer {
    display: flex;
    padding:10px;
    background-color: #c0febf;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    height:12%;
    align-items: center;
    justify-content: flex-end;
    margin-top: auto;
    box-sizing: border-box;
} 
.textfooter{
    display: flex;
    position: relative;
    flex-direction: column;
    right: 50px;
    text-align: end;
}

.lineafooter {
    position: relative;
    border-left: 1px solid black; 
    height: 100px; 
    margin-left: 10px; 
    right: 50px;
 }

 /* Menu Cerrar sesión*/
#btn-menu{
    display: none;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.container-menu{
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
.cont-menu{
    visibility: hidden;
    width: 100%;
    height: 190px;
    position: absolute;
    right: 0;
    max-width: 250px;
    background-color: #c0febf;
    transition: all 500ms ease;
    transform: translateY(-100%);
    
}
/*Animación despliegue hacía abajo*/
#btn-menu:checked ~ .container-menu .cont-menu{
    visibility: visible;
    transform: translateX(0%);    
}
.container-menu nav{    
    position: relative;
    top: 110px
}
.container-menu nav a{    
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-left: 10px;    
    color: black;  
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.container-menu nav a:hover{    
    border-left: 5px solid black;
    background: rgba(0, 0, 0, 0.192);    
}
.imgCerrarSesion{
    width: 40px;
    height: 40px;
    padding-right: 10px;    
}
.imgCambiarRol{
    width: 40px;
    height: 40px;
    padding-right: 10px; 
}
.disabled-link {
    color: #ccc; /* Cambia el color del texto a gris */
    pointer-events: none; /* Evita que se puedan hacer clic en el enlace */
    cursor: not-allowed; /* Cambia el cursor a "no permitido" */
    text-decoration: none; /* Quita cualquier decoración de texto */
    opacity: 0.5;
}

@media screen and (max-width: 1120px) {
    .header{
    display: none;
    }
    .footer{
        display:none;
    }
    .content{
        display: block;
    }
    .sideMenu{
        position: relative;
        width:95%;
        margin:0;
        gap:50px;
        flex-direction: row;
        background-color: transparent;
    }
    #formContainer{
        margin-left:auto;
        display:block;
    }
    .sideMenu button {
        font-size: 26px;
        padding: 10px;
        width:50%;
        height:150px;
    }
}